<h1>顧客詳細</h1>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>性別</th>
      <th>年齢</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody>
    <p>
      <td><%= @client.name %></td>
      <td><%= @client.gender %></td>
      <td><%= @client.age %></td>
      <td><%= @client.address %></td>
    </p>
  </tbody>
</table>
<%= link_to "通院履歴登録", new_client_log_path(@client) %>
<%= link_to "通院履歴一覧", client_logs_path(@client) %>
