<h1>新規登録</h1>
<%= form_with model: @record, local: true do |f| %>
  <div>
    <p><%= f.label :subjective, "S（subjective）：主観的情報" %></p>
    <p><%= f.text_area :subjective %></p>
  </div>
  <div>
    <p><%= f.label :objective, "O（objective）： 客観的情報" %></p>
    <p><%= f.text_area :objective %></p>
  </div>
  <div>
    <p><%= f.label :assessment, "A（assessment）： 評価" %></p>
    <p><%= f.text_area :assessment %></p>
  </div>
  <div>
    <p><%= f.label :plan, "P（plan）： 計画（治療）" %></p>
    <p><%= f.text_area :plan %></p>
  </div>
  <div>
    <p><%= f.label :memo, "その他メモ" %></p>
    <p><%= f.text_area :memo %></p>
  </div>
  <%= f.submit "登録" %>
<% end %>
