<% @records.each do |record| %>
  <p><%= "S（subjective）：主観的情報" %></p>
  <p><%= record.subjective %></p>
  <p><%= "O（objective）：客観的情報" %></p>
  <p><%= record.objective %></p>
  <p><%= "A（assessment）：評価" %></p>
  <p><%= record.assessment %></p>
  <p><%= "P（plan）：計画（治療）" %></p>
  <p><%= record.plan %></p>
  <p><%= "その他メモ" %></p>
  <p><%= record.memo %></p>
<% end %>
